.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
#status
{
font-size: 18px;
}
body
{
background-position: center;
background-size: cover;
}
canvas
{
box-shadow: 7px 10px 4px grey;
border-radius: 20px;
margin-top: 50px;
}